

.side {
	align-items: center;
	display: flex;
}

.left {
	background: var(--colour-one);
	border-right: 1.2rem solid var(--colour-four);
	height: 100vh;
	justify-content: flex-end;
    margin: 0 0 0 0;
	padding: 0 0 0 0;
	position: absolute;
    width: 100vw;
	z-index: 0;
	
		-webkit-transition: -webkit-transform 0.8s;
		-moz-transition: -moz-transform 0.8s;
	transition: transform 0.8s, z-index 0.1s 1s;
		-webkit-transform: translateX(-50%);
		-moz-transform: translateX(-50%);
	transform: translateX(-50%);
}
	
.left:after {
	background-color: var(--colour-three);
	border-radius: 50%;
	border: 1.2rem solid var(--colour-four);
	content: '';
	height: 12.4rem;
	position: absolute;
	right: -8rem;
	top: calc(50% - 7.4rem);
	width: 12.4rem;
	z-index: 2;
}
	
.left.animate {
		-webkit-transform: translateX(-1.2rem);
		-moz-transform: translateX(-1.2rem);
	transform: translateX(-1.2rem);
	transition: transform 0.8s;
	z-index: 1;
}

.title {
	color: var(--colour-four);
	font-family: museo-sans-rounded, sans-serif;
	font-style: normal;
	font-weight: 700;
	font-size: 12rem;
	line-height: 150.84%;
	letter-spacing: -0.03em;
}

.left .title { margin-right: 21.2rem; }


.user-icon {
	opacity: 0;
	transform: translateX(6.4rem);
	transition: opacity 0.4s;
	z-index: 3;
}

.left:hover .user-icon {
	opacity: 1;
	transition: opacity 0.4s;
}