.side {
	align-items: flex-start;
	background: var(--colour-one);
	border-right: 1.2rem solid var(--colour-four);
	display: flex;
	height: 100vh;
    margin: 0 0 0 0;
	padding: 1rem 1rem 1rem 1rem;
	position: absolute;
    width: 100vw;
	z-index: 0;
	
		-webkit-transition: -webkit-transform 0.8s;
		-moz-transition: -moz-transform 0.8s;
	transition: transform 0.8s, z-index 0.1s 1s;
		-webkit-transform: translateX(-50%);
		-moz-transform: translateX(-50%);
	transform: translateX(-50%);
}

.side-inner {
	display: flex;
	flex: 1;
	flex-direction: column;
	justify-content: flex-start;
	max-width: 133rem;
}

.side.animate {
		-webkit-transform: translateX(-1.2rem);
		-moz-transform: translateX(-1.2rem);
	transform: translateX(0);
	transition: transform 0.8s;
	z-index: 1;
}

.poke-circle {
	align-items: center;
	background-color: var(--colour-three);
	border-radius: 50%;
	border: 1.2rem solid var(--colour-four);
	display: flex;
	height: 12.4rem;
	justify-content: center;
	position: absolute;
		right: -6.8rem;
		top: 4.5rem;
	width: 12.4rem;
	z-index: 2;
}

.right-short-arrow-icon {
	transform: translateX(-2.2rem);
}

.title {
	color: var(--colour-four);
	font-family: museo-sans-rounded, sans-serif;
	font-size: 8rem;
	font-style: normal;
	font-weight: 700;
	letter-spacing: -3.33px;
}

.user-icon {
	opacity: 0;
	transition: opacity 0.4s;
	z-index: 3;
}

.side:hover .user-icon {
	opacity: 1;
	transition: opacity 0.4s;
}

.left-short-arrow-icon {
	transform: translateX(2.5rem);
}

.text {
	color: var(--colour-four);
	font-size: 2.4rem;
	max-width: 71rem;
}

@media only screen and (min-width: 376px) {

	.side {
		
		padding: 4rem 10rem 4rem 4rem;
		z-index: 0;
	}

	.side-inner {
		display: flex;
		justify-content: flex-start;
	}

	.text {
		font-size: 3rem;
	}

}



@media only screen and (min-width: 769px) {

	.side {
		
	}

	.poke-circle {
		top: calc(50% - 6.2rem);
	}

	.title {
		font-size: 12rem;
	}

	.text {
		font-size: 32px;
	}
	

}

@media only screen and (min-width: 1440px) {

	.side {
		align-items: center;
		padding: 10rem 10rem 10rem 10rem;
	}

	.home .side-inner {
		justify-content: flex-end;
	}

	.side-inner {
		align-items: center;
		flex-direction: row;
		justify-content: space-between;
	}

	.title {
		margin-right: 5.9rem;
		order: 1;
	}

	.text {
		font-size: 32px;
		text-align: right;
	}
}